body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: blue; /* Use a valid color code or name here */
}

h1 {
    font-size: 6rem;
    font-family: Montserrat;
    transition: color 500ms;
}


.letter {
    transition: color 500ms;
}
